@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Lobster&display=swap');

.title{
    font-family: 'Lobster', cursive;
}
.font{
    font-family: 'Hahmlet', serif;
}

/* .containar{
display: flex;
margin: 20px 50px;
}

.field{
    margin-left: 180px;
} */
.calculate{
    position: relative;
    border: 0;
    padding: 10px 20px;
    background-image: linear-gradient(90deg, #c21273,#FF008E);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 0 #a5075e;
}
